{#
a collection of twig snippets for Drupal8
general twig documentation: http://twig.sensiolabs.org/doc/templates.html
#}

{# -----  Variables ----------------------------------------------------------#}
{# variabels   #}
{{ variable }}
{{ variable.drill.into.it }}
{{ variable.drill.into['#hashalsousedascomment'] }}

{# Filters #}
{{ variable|filter }}
{# http://twig.sensiolabs.org/doc/filters/index.html #}

{# Drupal Translate #}
{{ variable|t }}

{% trans %}
  this will be translated with {{ varibles }}
{% endtrans %}

{% trans %}
  only one.
{% plural count %}
  the count: {{ count }}
{% endtrans %}


{# usefull filters: #}
{{ a-class-name|clean_class }}
{{ an-id|clean_id }}
{{ translate|t }}


{# --controls --------------------------------------------------------------- #}
{% if something %}
  yo im here {{ var }}
{% endif %}

{% if something %}
  this
{% else %}
  that
{% endif %}

{% if something %}
  this
{% elseif somethingelse %}
  that
{% endif %}


{# for loop #}
{% for item in items %}
  theres {{ items.length }} items.
  {% if loop.first %}
    {# first loop #}
  {% elseif loop.last %}
    {# last loop #}
  {% elseif loop.index == "2" %}
    {# 2nd loop #}
  {% elseif loop.revindex == "2" %}
    {# 2nd last reverse counted #}
  {% else %}
    {# default #}
  {% endif %}

{% endfor %}

{# -----attributes & class magic --------------------------------------------- #}
{#
attributes https://www.drupal.org/node/2513632
everything can be changed:
{{ attributes.addClass().removeClass().setAttribute() }}
#}

{# add a class  <div class="my-class"> #}
<div {{  attributes.addClass('my-class') }}

{# create a var and add that to classes
detect on first loop and if a class is in attributes
#}
{%
  set class = [
    'item',
    'item--' ~ cycle(["green", "gold", "white"], loop.index),
    loop.first ? 'first-class',
    item.attribute.hasClass('is-this-class-here') ? 'ok-use-this':'not-there-use-this',
  ]
%}
{# add the class, and another my-class #}
<div {{  attributes.addClass('my-class', class) }}

{# addClass #}
<div {{  attributes.removeClass('nickelback') }}

{# and they can all be combined #}
<div {{  attributes.addClass('my-class-here', class).removeClass('nope-not-you') }}

{# you can also use attribtes|without(class) & {{ attribtes.class }}  #}
<div class=”my-class {{ attributes.class }}”{{attributes|without(‘class’) }}></div>

{# ----- set / remove attributes  -------------------------------------------- #}
{{ attributes.setAttribute('id', 'my-id') }}>

{{ attributes.removeAttribute('id') }}

<img {% set image = 'https://www.drupal.org/files/powered-blue-135x42.png' %}>
<img setAttribute('src', image) }}>
